@model Ascend15.Models.Pages.ConfirmationPage

<div class="confirmation text-center">
    <div>Thank you for your order!</div>
    <div>You order #: <span  class="confirmation-order-number">@TempData["PONumber"]</span></div>
</div>